<div class="background-img">
  <img src=<%= @flat.image_url %> />
</div>

<div class="container margin-top-negative">
  <div class="row">

    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p><%= @flat.address %></p>
      </div>

      <div class="flat-show-card">
        <h3><%= "A bit more about this flat..." %></h3>
        <p><%= @flat.description %></p>
        <div>
          <img src="https://images.unsplash.com/photo-1524661135-423995f22d0b?auto=format&fit=crop&q=80&w=2312&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        </div>
      </div>
    </div>



    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book this place!</h5>

        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="start-date-label">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="start-date" aria-describedby="start-date-label">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="end-date" aria-describedby="start-date-label">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>

      <div class="flat-show-card">
        <h1> Details </h1>
        <p><%= @flat.number_of_guests %> people  <%= @flat.price_per_night%>€</p>
      </div>

      <div class="flat-show-card ">
        <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0">Share</h6>
          <div class="d-flex justify-content-around">
            <i class="me-1 bi bi-facebook"></i>
            <i class="me-1 bi bi-twitter"></i>
            <i class="bi bi-pinterest"></i>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
